* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
  background-color: rgb(220, 220, 246);
}
main{
  background-color: rgb(201, 247, 247);
}
footer{
  background-color: rgb(204, 247, 233);
}
.company{
  background-color: rgb(180, 222, 239);
}
.if-video{
  background-color: rgb(204, 212, 254);
}
.map{
  background-color: rgb(186, 245, 225);
}
nav{
  text-align: center;
}
.navig{display: inline-block;
  list-style: none;
  text-align: center
}
.navigator{
  display: inline-block;
  margin-right:40px;
}
h2{
  text-align: center;
}
.block{
  text-align: center;
}
.photo{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.emblem{
  width: 200px;
  height: auto;
}
.box-video{
  text-align: center;
}
video{
  width: auto;
  height: 500px;
}
.box-video{
  background-color:rgb(237, 150, 150)
}











